
/* PARITY STYLING -- https://www.parity.io/assets/css/theme-parity.css?v=1c871864d6 */
:root {
    --theme-color: #fd9534;
}

/* Make the whole site have larger text*/
body {
    background-color: #ffffff;
    font-size: 1em;
    line-height: 1.85714286em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.substrate-dev-hub-nav a {
    display: flex;
    text-decoration-line: none;
}

.substrate-dev-hub-nav img {
    height: 34px;
    margin: 10px 10px;
}

.substrate-dev-hub-nav h2 {
    font-size: 1rem;
    margin-top: 18px;
    color: #ffffff;
}

.sidebar {
    background-color:#FF1864;
    font-size: 1rem;
    width: 260px;
}

input[type="search"], 
.markdown-section pre,
.markdown-section pre > code {
    background-color: #ffffff;
}

input[type="search"]:focus {
    color: #1b1b1b;
}

.sidebar-toggle {
    width: unset;
}

.sidebar-toggle span {
    width: 24px;
    height: 4px;
}

h1, h2, h3, h4, h5 {
    font-family: 'ManifoldCF', 'Helvetica', 'Arial', sans-serif;
    font-weight: 600;
    font-variant-ligatures: common-ligatures;
    margin-top: 0;
    margin-bottom: 0;
}

h1,
.h1 {
  font-size: 3.14285714em;
  line-height: 1.31818182em;
}
h2,
.h2 {
  font-size: 2.35714286em;
  line-height: 1.36363636em;
}
h3,
.h3 {
  font-size: 1.78571429em;
  line-height: 1.5em;
}
h4,
.h4 {
  font-size: 1.35714286em;
  line-height: 1.36842105em;
}
h5,
.h5 {
  font-size: 1em;
  line-height: 1.85714286em;
}
h6,
.h6 {
  font-size: 0.85714286em;
  line-height: 2.16666667em;
}
.lead {
  font-size: 1.35714286em;
  line-height: 1.68421053em;
}
@media all and (max-width: 767px) {
  h1,
  .h1 {
    font-size: 2.35714286em;
    line-height: 1.36363636em;
  }
  h2,
  .h2 {
    font-size: 1.78571429em;
    line-height: 1.5em;
  }
  h3,
  .h3 {
    font-size: 1.35714286em;
    line-height: 1.85714286em;
  }
  .lead {
    font-size: 1.35714286em;
    line-height: 1.36842105em;
  }
}

/* CSS for editor div to make sure it uses the full height */
.editor {
    height: calc(100vh - 25px);
    overflow: hidden;
}

.editor-bar {
    height: 25px;
    font-size: 14px;
}

.editor-button {
    background-color: #1e1e1e;
    margin-left: 10px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding-top: 50px;
    margin-top: -50px;
}

.editor-button-selected {
    background-color: #3e3e3e;
}

/* Add separation between the Editor and the tutorial */
.lesson {
    border-right: 1px solid rgba(223, 170, 27, 0.07);
    padding-right: 10px;
    padding-left: 30px;
}

.code {
    padding-right: 30px;
}

/* When the page does not have code, this style is used to hold the main content */
.fullpage {
    max-width: 1000px;
    margin: auto;
    padding: 30px;
}

/* Responsive Two Column Layout */
/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    overflow-y: scroll;
    height: 100vh;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1024px) {
    .column {
        width: 100%;
        overflow-y: initial;
        height: initial;
    }
}
/* End Responsive Layout */

.content {
    padding-left: 10px;
    padding-top: 0px;
    left: 260px;
}

.markdown-section {
    max-width: 100%;
    padding: 0;
}

.markdown-section p {
    color:#000000;
}

/* Styling for Cover Page Buttons */

section.cover .cover-main > p:last-child a:first-child {
    background-color: var(#000000, #ea6f5a);
    color: #000000;
}

section.cover .cover-main > p:last-child a:last-child {
    background-color: unset;
    color: #000000;
}

/* End Styling for Cover Page Buttons */

/* Custom Styling for other parts of markdown */

.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section strong,
.markdown-section blockquote {
    color: #000000;
}

.markdown-section a {
    font-weight: unset;
}

/* End custom markdown styling */

/* Custom Styling For Code Blocks */

.token.function {
    color: #051f55;
}

.token.keyword {
    color: #569cd6;
}

.markdown-section code {
    background-color: #1b1b1b;
    color: #ffffff;
}
.markdown-section pre > code {
    color: #000000;
}

.token.punctuation {
    color: #000000;
}

.token.comment {
    color: #618a50;
}

.token.string {
    color: #cd917a;
}

.token.number {
    color: #b6cda9;
}

/* End Custom Styling for Code Blocks */

/* Start Custom Styling for Pagination */

.pagination-item-label {
    color: #FF1864;
    font-size: 2.2em !important;
    font-weight: 700;
    padding-bottom: 0.5em;
}
.anchor span {
    color:rgb(200,200,200);
}
.sidebar-toggle span {
    background-color:#ffffff;
}
.markdown-section a {
    color:#000000;
}

/* End Custm Styling for Pagination */

/* Gitter */
 
@media (max-width: 600px) {
    .gitter-open-chat-button,
    .gitter-chat-embed {
        display: none;
    }
} 

/* End Gitter */