body {
    font-size: 1.25rem;
}

#editor {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.lesson {
    width: 45%;
    border-right: 1px solid rgba(0,0,0,0.07);
    padding-right: 10px;
}

.fullpage {
    max-width: 1000px;
    margin: auto;
    padding: 30px;
}

.code {
    width: 55%;
}

.column {
    height: 100vh; /* percent relative to viewport height */
    float: left;
    overflow: scroll;
}

.content {
    padding-left: 10px;
    padding-top: 0px;
    height: 100vh;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.markdown-section {
    max-width: 100%;
    padding: 0;
}

.sidebar,
.sidebar-toggle {
    width: 200px;
}

.markdown-section pre > code {
    color: #ffffff;
}

.markdown-section code {
    color: #ffffff;
}

.token.punctuation {
    color: #ffffff;
}

.token.operator {
    color: #e96900;
}

.token.macro-rules {
    color: #e96900;
}

@media screen and (max-width: 1024px) {
    .lesson {
        width: 100%;
    }
    .code {
        width: 100%;
    }
}

.sidebar {
    min-width: 300px;
    width: 22vw;
    font-size: 16px;
}

.sidebar ul li a {
    display: inline;
    font-size: inherit;
}