#editor {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.lesson {
    width: 45%;
    border-right: 1px solid rgba(0,0,0,0.07);
    padding-right: 10px;
}

.code {
    width: 55%;
}

.column {
    height: 100vh; /* percent relative to viewport height */
    float: left;
    overflow: scroll;
}

.content {
    padding-left: 10px;
    padding-top: 0px;
    height: 100vh;
    left: 200px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.markdown-section {
    max-width: 100%;
    padding: 0;
}

.sidebar,
.sidebar-toggle {
    width: 200px;
}

.markdown-section pre > code {
    color: #ffffff;
}

.markdown-section code {
    color: #ffffff;
}

.token.punctuation {
    color: #ffffff;
}

.token.operator {
    color: #e96900;
}

.token.macro-rules {
    color: #e96900;
}