:root {
	--content-max-width: 100% !important;
}

/* -- Section -- */

.content-section {
	max-width: 800px;
	margin: auto;
}

/* -- Nav -- */

.nav-chapters {
	/* Make nav buttons not full height on wide screen. */
	top: auto;
	margin: 10px;
	font-size: 2.5em;
	text-align: center;
	text-decoration: none;
	width: 90px;
	border-radius: 5px;
}

/* -- Two Col Layout -- */

.content-col {
	width: 100%;
	padding-bottom: 50px;
}

@media screen and (min-width: 1081px) {

	/* -- Override Content Padding - Move to Col -- */
	.content {
		padding: 0px;
	}

	.content-col {
		width: calc(50% - 10px);
		height: calc(100vh - 102px);
		float: left;
		overflow: scroll;
		padding: 0px 5px 50px 5px;
	}
}

/* -- Tabs -- */

/* Style the tab */
.tab {
	overflow: hidden;
	border: 1px solid color-mix(in srgb, var(--sidebar-bg), #888 15%);
	background-color: var(--sidebar-bg);
	color: var(--sidebar-fg);
}

/* Style the buttons that are used to open the tab content */
.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	color: var(--sidebar-fg);
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: color-mix(in srgb, var(--sidebar-bg), #888 30%);
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: color-mix(in srgb, var(--sidebar-bg), #888 50%);
}

/* Style the tab content */
.tabcontent {
	display: none;
	border: 1px solid color-mix(in srgb, var(--sidebar-bg), #888 15%);
	border-top: none;
}

.tabcontent pre {
	margin: 0px;
}

.tabcontent.active {
	display: block !important;
}

.file-modified {
	color: darkorange !important;
}

.file-solution.file-modified {
	color: light-dark(darkblue, skyblue) !important;
}

.file-added {
	color: light-dark(darkgreen, limegreen) !important;
}
